body{

background:#111;

color:white;

font-family:Arial;

text-align:center;

}

button{

padding:10px;

margin:5px;

font-size:16px;

cursor:pointer;

}

canvas{

width:640px;

height:480px;

border:4px solid white;

}
